<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="texas.sbq.travel.mapper.HotelMapper">

	<select id="createHotel" parameterType="hashmap">
		${CREATE_HOTEL}
	</select>
	<select id="createRoom" parameterType="hashmap">
		${CREATE_ROOM}
	</select>
		<select id="createComments" parameterType="hashmap">
		${CREATE_COMMENTS}
	</select>
	<select id="createReservation" parameterType="hashmap">
		${CREATE_RESERVATION}
	</select>
	
	 <insert id="insertHotel" parameterType="texas.sbq.travel.hotel.Hotel">
    	insert into hotel (hotelname, hotelimg, hid, uname, haddr,harea, hotelinfo, map) values
			(#{hotelname}, #{hotelimg}, #{hid}, #{uname}, #{haddr}, #{harea}, #{hotelinfo}, #{map})
    </insert>
     <insert id="insertRoom" parameterType="texas.sbq.travel.hotel.Room">
    	insert into room(roomtype, roomimg,price, hseq) values
			(#{roomtype},#{roomimg},#{price},#{hseq})
    </insert>
         <insert id="insertComments" parameterType="texas.sbq.travel.hotel.Comments">
    	insert into comments(hcomments,rating, uid, hseq) values
			(#{hcomments}, #{rating}, #{uid}, #{hseq})
    </insert>
    <insert id="insertReservation" parameterType="texas.sbq.travel.hotel.Reservation"> 
       insert into reservation (indate, outdate, uid, rseq, hseq, price) values 
           (#{indate}, #{outdate}, #{uid}, #{rseq}, #{hseq}, #{price})
   </insert> 
    

    <select id="selectHotelList" parameterType="texas.sbq.travel.hotel.Hotel" resultType="texas.sbq.travel.hotel.Hotel">
			select d.*
			from (select a.price , a.hotelname, a.hseq, b.hotelimg, b.rating, b.haddr, a.rseq
			from 	(select min(r.price) price, h.hotelname, r.hseq, r.rseq
			from hotel h join room r
			on h.hseq = r.hseq
			group by hseq) a join (select round(avg(c.rating)*1,2) rating, h.hseq, h.hotelname, h.hotelimg, h.haddr
			from hotel h join comments c join room r
			on c.hseq = h.hseq = r.hseq
			group by hseq
			order by rating desc)b
			on a.hseq = b.hseq) d
			order by d.rating desc
	</select>
	    <select id="selectHotelListForPrice" parameterType="texas.sbq.travel.hotel.Hotel" resultType="texas.sbq.travel.hotel.Hotel">
			select d.*
			from (select a.price , a.hotelname, a.hseq, b.hotelimg, b.rating, b.haddr, a.rseq
			from 	(select min(r.price) price, h.hotelname, r.hseq, r.rseq
			from hotel h join room r
			on h.hseq = r.hseq
			group by hseq) a join (select round(avg(c.rating)*1,2) rating, h.hseq, h.hotelname, h.hotelimg, h.haddr
			from hotel h join comments c join room r
			on c.hseq = h.hseq = r.hseq
			group by hseq
			order by rating desc)b
			on a.hseq = b.hseq) d
			order by d.price

	</select>
	<select id="selectRoomList" parameterType="texas.sbq.travel.hotel.Room" resultType="texas.sbq.travel.hotel.Room">
	    select h.hseq,  r.roomtype, h.hotelname, h.hotelinfo, r.price,r.roomimg, r.rseq
		from hotel h join room r
		on h.hseq = r.hseq
		where h.hseq like #{hseq}

	</select>
		<select id="selectCommentsList" parameterType="texas.sbq.travel.hotel.Comments" resultType="texas.sbq.travel.hotel.Comments">
			select * 
			from comments c join hotel h
			on c.hseq = h.hseq 
			where h.hseq like #{hseq}

		</select> 
		<select id="selectReservationList" parameterType="texas.sbq.travel.hotel.Reservation" resultType="texas.sbq.travel.hotel.Reservation">
			select * from reservation
		</select> 
	
	<select id="selectOnHotelByHseq" parameterType="int" resultType="texas.sbq.travel.hotel.Hotel">
		select *
		from hotel
		where hseq like #{hseq}
	</select>
	<select id="selectCommentsByRating" parameterType="int" resultType="texas.sbq.travel.hotel.Comments">
		select round(avg(rating)*1,2) rating
		from comments
		where hseq like #{hseq}
	</select>
	<select id="selectSearchList"  resultType="texas.sbq.travel.hotel.Hotel">
		select * from hotel where harea like #{harea} order by hseq desc
	</select>
	<select id="selectLocationList" parameterType="texas.sbq.travel.hotel.Hotel" resultType="texas.sbq.travel.hotel.Hotel">
 			select d.*
			from (select a.price , a.hotelname, a.hseq, b.hotelimg, b.rating, b.haddr, b.harea
			from 	(select min(r.price) price, h.hotelname, r.hseq
			from hotel h join room r
			on h.hseq = r.hseq
			group by hseq) a join (select round(avg(c.rating)*1,2) rating, h.hseq, h.hotelname, h.hotelimg, h.haddr, h.harea
			from hotel h join comments c join room r
			on c.hseq = h.hseq = r.hseq
			group by hseq
			order by rating desc)b
			on a.hseq = b.hseq) d
			where d.harea like #{harea}
			order by rating desc
	</select>
	<select id="selectMapByHseq" parameterType="int" resultType="texas.sbq.travel.hotel.Hotel">
		select latitude, longitude
		from hotel
		where hseq like #{hseq}
	</select>
</mapper>