<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="texas.sbq.travel.mapper.HotelMapper">

	<select id="create" >
		create table hotels(hotel_seq int(10) primary key auto_increment,
		      name varchar(30),
		      phone_num varchar(30),
		      image varchar(500),
		      area varchar(10),
		      information varchar(1500),
		      location_seq int(10),
		      foreign key (location_seq) references locations(location_seq)
		)default character set utf8 collate utf8_general_ci
	</select>
	<insert id="insert" parameterType="texas.sbq.travel.domain.Hotel">
  	insert into hotels(name)
  	values (#{name})
  </insert>
  <update id="update" parameterType="texas.sbq.travel.hotel.Hotel" >
		update hotel
		set price = #{price}
		where hotel_seq like #{hotelSeq}
	</update>
	<delete id="delete">
		delete * from hotel
		where hotel_seq like #{hotelSeq}
	</delete>
   <select id="count" resultType="string" >
		select count(*)	count 
		from hotels  
	</select>
    <select id="selectById" parameterType="string" 
    						resultType="texas.sbq.travel.domain.Hotel">
		select * from hotels
		where hotel_seq like #{value}
	</select>
	<select id="selectLatitudeById" parameterType="string" resultType="texas.sbq.travel.hotel.Hotel">
		select latitude, longitude
		from hotel
		where hseq like #{hseq}
	</select>
    <select id="select" parameterType="texas.sbq.travel.domain.Hotel" 
                              resultType="texas.sbq.travel.domain.Pager">
			select d.*
			from (select a.price , a.hotelname, a.hseq, b.hotelimg, b.rating, b.haddr, a.rseq
			from 	(select min(r.price) price, h.hotelname, r.hseq, r.rseq
			from hotel h join room r
			on h.hseq = r.hseq
			group by hseq) a join (select round(avg(c.rating)*1,2) rating, h.hseq, h.hotelname, h.hotelimg, h.haddr
			from hotel h join comments c join room r
			on c.hseq = h.hseq = r.hseq
			group by hseq
			order by rating desc)b
			on a.hseq = b.hseq) d
			order by d.rating desc
	</select>
	
    <select id="selectByPrice" parameterType="texas.sbq.travel.hotel.Hotel" resultType="texas.sbq.travel.hotel.Hotel">
		select d.*
		from (select a.price , a.hotelname, a.hseq, b.hotelimg, b.rating, b.haddr, a.rseq
		from 	(select min(r.price) price, h.hotelname, r.hseq, r.rseq
		from hotel h join room r
		on h.hseq = r.hseq
		group by hseq) a join (select round(avg(c.rating)*1,2) rating, h.hseq, h.hotelname, h.hotelimg, h.haddr
		from hotel h join comments c join room r
		on c.hseq = h.hseq = r.hseq
		group by hseq
		order by rating desc)b
		on a.hseq = b.hseq) d
		order by d.price

	</select>
	<select id="selectByArea"  resultType="texas.sbq.travel.hotel.Hotel">
		select * from hotel where harea like #{harea} order by hseq desc
	</select>
	<select id="selectLocationsOfHotels" parameterType="texas.sbq.travel.hotel.Hotel" resultType="texas.sbq.travel.hotel.Hotel">
 			select d.*
			from (select a.price , a.hotelname, a.hseq, b.hotelimg, b.rating, b.haddr, b.harea
				from 	(select min(r.price) price, h.hotelname, r.hseq
							from hotel h join room r
							on h.hseq = r.hseq
							group by hseq) a join (select round(avg(c.rating)*1,2) rating, h.hseq, h.hotelname, h.hotelimg, h.haddr, h.harea
							from hotel h join comments c join room r
							on c.hseq = h.hseq = r.hseq
							group by hseq
							order by rating desc)b
				on a.hseq = b.hseq) d
			where d.harea like #{harea}
			order by rating desc
	</select>
	
	
	
</mapper>